
notebooks/Chapter1-DataPreprocessing/Cropped/
notebooks/Chapter3-TrainOnImages/final_model.pth
notebooks/Chapter3-TrainOnImages/best_model.pth

notebooks/.ipynb_checkpoints/
notebooks/Chapter1-DataProcessing/.ipynb_checkpoints/
notebooks/Chapter2-InferenceOnImages/.ipynb_checkpoints/
notebooks/Chapter3-TrainOnImages/.ipynb_checkpoints/
notebooks/Chapter4-MultimodalTrainAndInference/.ipynb_checkpoints/

scripts/Cropped/
scripts/result.csv
scripts/best_model.pth

.devcontainer/
.quarto/
_site/
